<div class="container mt-5">
  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <label for="">Buyer</label>
    <select
      name=""
      id=""
      title="Select Buyer"
      class="form-select"
      formControlName="buyer_id"
    >
      <option value="null">Sin definir</option>
      @for (buyer of buyerList; track $index) {
        <option value="buyer.id">{{ buyer.name }}</option>
      }
    </select>
    <h4>
      Products:
      <button type="button" (click)="addProduct()" class="btn btn-success">
        Add
      </button>
    </h4>

    <div class="flex mb-3" formArrayName="products">
      @for (product of products().controls; track product; let i = $index) {
        <div class="row mb-2" [formGroupName]="i">
          <div class="col-6">
            <select
              name=""
              id=""
              title="Select Buyer"
              class="form-select"
              formControlName="product_id"
            >
              @for (product of productsList; track $index) {
                @if (product.quantity > 0) {
                  <option value="{{ product.id }}">
                    {{ product.nameText }} {{ product.brandText }} (Stock:{{
                      product.quantity
                    }})
                  </option>
                }
              }
            </select>
          </div>
          <div class="col-5">
            <input
              type="number"
              class="form-control"
              placeholder="Quantity"
              formControlName="quantity"
            />
          </div>
          <div class="col-1">
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="removeProduct(i)"
            >
              www<i class="bx bx-minus bx-sm"></i>
            </button>
          </div>
        </div>
      }
    </div>

    <button type="submit" class="btn btn-success">Create Invoice</button>
  </form>
</div>
